#!/bin/sh
set -e # fail on errors

# Redirect stderr -> stdout
exec 2>&1

<%= render("mount_point_check.erb", cookbook: 'gitlab') %>

cd <%= @options[:working_dir] %>

<% if @options[:open_files_ulimit] %>
ulimit -n <%= @options[:open_files_ulimit] %>
<% end %>

exec chpst -e <%= @options[:env_dir] %> -P \
  -U <%= @options[:user] %>:<%= @options[:groupname] %> \
  -u <%= @options[:user] %>:<%= @options[:groupname] %> \
  <%= @options[:wrapper_path] %> <%= @options[:bin_path] %> <%= @options[:config_path] %>
